html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

body,
button,
input,
select,
textarea {
  color: inherit;
  font-family: Helvetica Neue, sans-serif;
  font-size: 1.3rem;
}

a {
  color: #0076BA;
}
